@{
    ViewData["Title"] = "Url";
    var currentDate = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Все про Url</h1>
    <img src="/img/url.jpg"/>
</div>

<div class="current-date">
    <p>Поточна дата: @currentDate.ToString("dd.MM.yyyy")</p>
</div>

<h3>Що таке url адресу сайту?</h3>
<p>
    URL - це адреса, який має будь-який мережевий ресурс і який можна використовувати для роботи в Інтернеті. Така адреса є відправною точкою для візиту на який-небудь сайт і повинен бути спочатку введений в браузері.

    URL перенаправляє користувача на потрібну сторінку з її вмістом. Інше ім'я для URL-адреси - інтернет-адреса або веб-адресу.


</p>

<h3>структура URL</h3>

<p> 
    URL складається з назви веб-сайту та шляхи. Шлях показує, де файл можна знайти на сервері.

    Окремі компоненти для URL:

    Субдомен (також домен третього рівня): може зробити інтернет-сторінки більш зрозумілими.

    Домен другого рівня: часто ця назва компанії.

    Домен верхнього рівня: він часто показує значення або походження інтернет-адреси.

    Шлях: вказує на каталоги веб-сервера. Це означає, що він показує, де саме знаходиться сайт на сервері.

    URL завжди структурований однаково. Він складається з різних компонентів, які стандартизовані в усьому світі. Щоб пояснити ці компоненти більш докладно, потрібно розбивка зразкового адреси.

    Це може виглядати так: https://www.testadres.ua.
</p>

